@import "./variables";
@import "./mixins";

.sidebar {
  padding-left: 5em;
  &__inner {
    position: none;
    padding: 25px 20px 0;
    @include breakpoint-sm {
      display: inline-grid;
      grid-template-columns: 60% auto 20%;
      grid-template-rows: 100px;
      padding: 10px;
      width: 100%;
      align-items: center;
      align-content: center;
      border: 1px solid $color-gray-border;
    }
  }
  @include breakpoint-sm {
    padding-left: 0;
  }
}

.author {
  @include breakpoint-sm {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box;
  }

  &__title {
    font-size: $typographic-base-font-size * 1.125;
    font-weight: 600;
    @include line-height(1.125);
    @include margin(0.5, 0, 0.5, 0);

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base;
      }
    }
  }

  &__subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1);
    @include breakpoint-sm {
      display: none;
    }
  }
}

.menu {
  @include margin-bottom(1);
  @include breakpoint-sm {
    display: none;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 0;
      margin: 10px 0;

      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: normal;
        border: 0;

        &:hover,
        &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
        }

        &--active {
          color: $color-base;
          border-bottom: 1px solid $color-base;
        }
      }
    }
  }
}
